{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/styles/style.css" %}">
{% endblock css %}


{% block content %}
    <h2>{{ group.name }}</h2>
    <ul>
        {% for word in wordgroup %}
            {% if word.group.pk == group.pk %}
                <li><a href="{% url "catalog:word" word.word.alias_name %}">{{ word.word.getName }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if wordgroup.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ wordgroup.previous_page_number }}">предыдущая</a>
            {% endif %}
 
            <span class="current">
                Страница {{ wordgroup.number }} из {{ wordgroup.paginator.num_pages }}.
            </span>
 
            {% if wordgroup.has_next %}
                <a href="?page={{ wordgroup.next_page_number }}">следующая</a>
                <a href="?page={{ wordgroup.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}