<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Илюстрированный словарь</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <div>
        <div class="header">
            <h1 style="margin: 0%;">Илюстрированный словарь русского языка</h1>
            <h2 style="margin: 0%; margin-top: 3px; margin-bottom: 5px;">Вводно-фонетический курс</h2>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Содержание</a></li>
                </ul>
            </nav>
            <div>
                <nav>
                    <ul>
                        <input type="text" placeholder="Поиск">
                    </ul>
                </nav>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Войти</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>